#summaryCircleChart {
  width: fit-content;
  margin: 50px auto;

  &:hover {
	cursor: pointer;

  }

  &:hover #sliceInfo {
	opacity: 1;
  }
}

#sliceInfo {
  margin: auto;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: ivory;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  min-height: 2em;
  opacity: 0;
}
